/* custom css style */

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.header-bg {
    background: #264653;
    padding: 4rem 0;
}

.modal-btn-bg {
    margin-top: .5rem;
    background: #E76F51;
    padding: .5rem 3rem;
    font-size: 1rem;
}

.text-custom-color {
    color: #E76F51;
}


/* banner section styles*/

.header-title {
    font-size: 2.5rem;
    line-height: 4.5rem;
}

.header-bike-img {
    padding-top: 3rem;
}


/* featured bike section styles */

.feature-grayscle-img img {
    filter: grayscale(100%);
}


/* Happy clients styles */

.fa-star {
    font-size: 1rem;
    color: #E77C40;
    margin: 0 5px;
}


/* frequently question styles */

.frequent-accordian-item {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.header-title-frequent {
    font-size: 3rem;
}